# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.metadata
*~
SudokuStepper - New
*.bak
/target/
/src/test/resources/T16.xml
/src/test/resources/SZ_s_2023_11_10_ScreenDump2.png
/src/test/resources/SZ_s_2023_11_10_ScreenDump1.png
/src/test/resources/T22.xml
/src/test/resources/T21.xml
/src/test/resources/T20.xml
/src/test/resources/T18.xml
/src/test/resources/T17.xml
/src/test/resources/a.xml
/src/test/resources/b.xml
/src/test/resources/T1.xml
/src/test/resources/T15.xml
/src/test/resources/T14.xml
/src/test/resources/T13.xml
/src/test/resources/T12.xml
/src/test/resources/T11.xml
/src/test/resources/T10.xml
/src/test/resources/T9.xml
/src/test/resources/T8.xml
/src/test/resources/T7.xml
/src/test/resources/T6.xml
/src/test/resources/T5.xml
/src/test/resources/T4.xml
/src/test/resources/T3.xml
/src/test/resources/T2.xml
/src/test/resources/QQ.xml
/src/test/resources/UpdateTest_1.xml
/src/test/resources/UpdateTest_Save.xml
/src/test/resources/T16_1.xml
/src/test/resources/T19.xml
/src/test/resources/T23.xml
/src/test/resources/UpdateTest.xml
/src/test/resources/Test1 - Kopie.xml
/src/test/resources/Test2 - Kopie.xml
/src/test/resources/Test_25x25_1.xml
/src/test/resources/aüa.xml
/src/test/resources/test16_1.xml
/src/test/resources/centraliens_2020_03_27.pdf
